body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edf1f7; /* Light blue pastel background */
}

header {
    background-color: #3498db; /* Darker blue for header */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

/* Input and Button Styles */
div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #3498db; /* Blue for labels */
}

input {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #aed6f1; /* Lighter blue for input border */
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: #3498db; /* Blue button background */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2077b0; /* Darker blue on hover */
}

/* Loader Styles */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination select {
    padding: 8px;
    margin: 0 10px;
}

.repositories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}   

.repository {
    background-color: rgba(255, 255, 255, 0.7); /* Glass-like effect with transparency */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.repository:hover {
    background-color: #2b85c18d;
    transition: 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translate(0, -2px);
}

.welcome {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #3498db; /* Darker blue for welcome message */
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #3498db; /* Blue for links */
    text-decoration: none;
    font-weight: bold;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .repositories {
        grid-template-columns: 1fr;
    }
}
